extends layout

block content
 main
  .container
    .jumbotron.bg-light.p-5.col-6
      h3
      i.fa.fa-user.fa-2x.text-info  Login 
      hr 
      h6.text-success #{msg}
       h6.text-danger #{error}
      form(action='/login',method='post')
        p 
          input(id='email',type='text',value='',placeholder='Email',name='email',class='form-control')
        p
          input(id='password',type='password',value='',placeholder='Password',name='password' ,class='form-control')
        p
          input(type='submit',value='Log in',data-transition='fade', data-theme='c' , class='btn btn-success')