extends layout

block content
 main.container-fluid    
      h1 Welcome #{fullname}
      div.row
        div.col-3.bg-dark(style='border: 2px solid black; height:100vh')
          h1.text-light Personal Info 
         
        div.col-9.bg-light.p-4(style='border: 2px solid black; height:100vh')
          h1 Message History
          table#dt1.table.dt(style='width:100%')
              thead
                tr
                  th ID 
                  th from
                  th name
                  th email
                  th message
              tbody               
                each m in messagesList
                  tr
                    td m._id
                    td m.from
                    td m.name
                    td m.email
                    td m.msg
script.
  function loadMessages() {   

    }


         